.advantegs {
  margin: 58px 0 238px;  
  &__column {
    height: 1050px;
   
  }
  &__link {
    display: none;
  }
  &__img {
    margin: 0 auto;
    display: block;
    padding: 37px 0;
  }
  &__scroll-figure {
    display: none;
  }
  &__item {
    padding: 20px 0;
  }
  &__item-text--bold {
    text-transform: uppercase;
    font-weight: 700;
  }
}

@media (min-width: 1130px) {
  .advantegs {
    margin: 0;
    margin-bottom: 560px;
    height: 460px;
    &-company {
      margin-top: 150px;
    }
    &__wrapper {
      display: flex;
      justify-content: space-between;
    }
    &__column {      
      height: 500px;
      width: 100%;
    }
    &__list {
      width: 500px;
      position: relative;
      right: -200px;
    }
    &__title {
      padding-left: 40px;
      width: 280px;
    }
    &__link {
      display: block;
      text-transform: uppercase;
      font-weight: 700;
      padding: 16px 0 49px;
      position: relative;
      &::after {
        position: absolute;
        content: "";
        width: 24px;
        height: 24px;
        top: 13px;
        right: 61px;
        background-image: url("../images/vector-right.svg");
      }
      &:hover {
        opacity: 0.6;
      }
      &:active {
        opacity: 0.4;
      }
    }
    &__img {
      margin: 0 auto;
      display: block;
      padding: 37px 0;
    }
    &__united {
      position: relative;
      width: 704px;
    }
    
    &__item {
      padding: 0;
    }
    &__item-wrapper {
      display: flex;
      align-items: center;
      width: 520px;
    }
    &__item-text {
      width: 410px;
      font-size: 18px;
      padding-left: 40px;
    }
    &__item-text--bold {
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}
