.advantegs {
  margin: 58px 0 238px;  
  &__link {
    display: none;
  }
  &__img {
    margin: 0 auto;
    display: block;
    padding: 37px 0;
  }
  &__scroll-figure {
    display: none;
  }
  &__item {
    padding: 20px 0;
  }
  &__item-text--bold {
    text-transform: uppercase;
    font-weight: 700;
  }
}

@media (min-width: 1130px) {
  .advantegs {
    margin: 0;
    margin-bottom: 560px;
    height: 460px;
    overflow: hidden;
    &-company {
      margin-top: 150px;
    }
    &__wrapper {
      display: flex;
      justify-content: space-between;
    }
    &__title {
      padding-left: 40px;
      width: 280px;
    }
    &__link {
      display: block;
      text-transform: uppercase;
      font-weight: 700;
      padding: 16px 0 49px;
      position: relative;
      &::after {
        position: absolute;
        content: "";
        width: 24px;
        height: 24px;
        top: 13px;
        right: 61px;
        background-image: url("../images/vector-right.svg");
      }
      &:hover {
        opacity: 0.6;
      }
      &:active {
        opacity: 0.4;
      }
    }
    &__img {
      margin: 0 auto;
      display: block;
      padding: 37px 0;
    }
    &__united {
      display: flex;
      justify-content: space-between;
      width: 704px;
    }
    &__scroll-wrapper {
      margin-left: 30px;
      cursor: pointer;
    }
    &__scroll {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__scroll-circle {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background-color: $red;
      display: block;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 12px;
        left: 19px;
        height: 6px;
        width: 10px;
        background-image: url("../images/scroll.svg");
        background-repeat: no-repeat;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: 12px;
        left: 19px;
        height: 6px;
        width: 10px;
        background-image: url("../images/scroll.svg");
        background-repeat: no-repeat;
        transform: rotate(180deg);
      }
      &:hover {
        opacity: 0.7;
      }
      &:active {
        opacity: 0.4;
      }
    }
    &__scroll-line {
      display: block;
      height: 324px;
      width: 1px;
      background-color: $grey;
    }
    &__scroll-figure {
      display: block;
      font-weight: 700;
    }
    &__scroll-number {
      padding-top: 30px;
    }
    &__scroll-part {
      color: #9ea5b7;
    }
    &__item {
      padding: 0 0 60px;
    }
    &__item-wrapper {
      display: flex;
      align-items: center;
      width: 520px;
    }
    &__item-text {
      width: 410px;
      font-size: 18px;
      padding-left: 40px;
    }
    &__item-text--bold {
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}
