.menu {
    padding-bottom: 85px;
    width: 100%;
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        height: 100%;
        width: 100%;
        flex-direction: column;
    }
   &__item {       
    transition: color 0.3s;
       width: 100%;  
       &:hover {
        background-color: $sea;
        color: $red;
    }     
    &:active {
        opacity: 0.5;
    }
   }
   &__link {
       padding-left: 17px;
       padding-right: 10px;
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    width: 100%;
    min-height: 57px;
    display: flex;
    align-items: center;
    
   }
   &__link-lang {
       position: absolute;
       top: 14px;
       right: 17px;
       width: 43px;
       min-height: 16px;
       font-size: 14px;
       font-weight: 700;
       text-transform: uppercase;
       padding: 0;
       &:hover {
        background-color: transparent;
    }
    &::after {
        content: "";
        position: absolute;
        top: 12px;
        right: 0;
        width: 16px;
        height: 16px;
        background-image: url("../images/Vector.svg");
        background-repeat: no-repeat;        
    }
   }
   
}

@media (min-width: 1130px) { 
    .menu {
        padding-bottom: 0px;
        width: 730px;
        &__list {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 80px;
            width: auto;
            flex-direction: row;
        }
       &__item {             
           width: auto; 
           height: 100%; 
           &:hover {
            background-color: transparent;
            color: $red;
        }     
       }
       &__link {
           padding-left: 15px;
           padding-right: 12px;
        font-size: 14px;
        font-weight: 700;            
             text-transform: uppercase;   
             min-height: 80px;
       }
       &__link-lang {
           position: relative;  
           top: 0;
           right: 0;        
           font-size: 14px;
           font-weight: 700;
           padding-left: 10px;
           padding-right: 10px;
           min-height: 80px;
           &:hover {
            background-color: transparent;
        }
        &::after {           
            top: 36px;
            right: -7px;          
                  
        }
       }
       
    }
}