.social-scrollbar .swiper-scrollbar-drag {
  background-color: red;
}

.social-scrollbar {
  cursor: pointer;
}

.advantegs-scrollbar {
  display: none;
}

.social__button.swiper {
  &-button-prev {
    display: none;
  }
  &-button-next {
    display: none;
  }
}

.swiper-slide.price__item {
  width: 100%;
}

.social__item.swiper-slide {
  height: 145px;
}

.price__wrapper.swiper {
  padding-top: 30px;
}

.price-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: $grey;
  cursor: pointer;
}

.price-pagination .swiper-pagination-bullet-active {
  background-color: $red;
}

.price__nav-button.swiper-button-prev {
  z-index: 15;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  position: relative;
  outline: none;
  transition: transform 0.3s;
  &::after {
    opacity: 0;
  }
  &::before {
    content: "";
    position: absolute;
    top: 19px;
    left: 21px;
    width: 15px;
    height: 15px;
    background-image: url("../images/price-button.svg");
    background-repeat: no-repeat;
  }
  &:hover {
    opacity: 0.8;
    transform: scale(0.8);
  }
  &:active {
    opacity: 0.4;
  }
}

.price__nav-button.swiper-button-next {
  z-index: 15;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  position: relative;
  outline: none;
  transition: transform 0.3s;
  &::after {
    opacity: 0;
  }
  &::before {
    content: "";
    position: absolute;
    top: 19px;
    left: 21px;
    width: 15px;
    height: 15px;
    background-image: url("../images/price-button-right.svg");
    background-repeat: no-repeat;
  }
  &:hover {
    opacity: 0.8;
    transform: scale(0.8);
  }
  &:active {
    opacity: 0.4;
  }
}

@media (min-width: 1130px) {
  .social-scrollbar {
    display: none;
  }

  .advantegs-scrollbar.swiper-scrollbar {
    display: block;
    left: 85px;
    background-color: $grey;
  }

  .advantegs-scrollbar .swiper-scrollbar-drag {
    width: 48px;
    border-radius: 50%;
    background-color: $red;
    display: block;
    position: relative;
    left: -22px;
    cursor: pointer;
    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 19px;
      height: 6px;
      width: 10px;
      background-image: url("../images/scroll.svg");
      background-repeat: no-repeat;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 12px;
      left: 19px;
      height: 6px;
      width: 10px;
      background-image: url("../images/scroll.svg");
      background-repeat: no-repeat;
      transform: rotate(180deg);
    }
    &:hover {
      opacity: 0.95;
    }
    &:active {
      opacity: 0.9;
    }
  }
  .social__button.swiper {
    &-button-prev {
      display: block;
      position: absolute;
      z-index: 234;
      width: 48px;
      height: 48px;
      top: 68px;
      background-color: $red;
      border-radius: 50%;
      background-image: url("../images/left.svg");
      background-repeat: no-repeat;
      background-position: center;
      outline: none;
      cursor: pointer;
      left: -100px;
      &::after {
        opacity: 0;
      }
      &:hover {
        opacity: 0.7;
      }
      &:active {
        opacity: 0.4;
      }
    }
    &-button-next {
      display: block;
      position: absolute;
      width: 48px;
      height: 48px;
      top: 68px;
      background-color: $red;
      border-radius: 50%;
      background-image: url("../images/right.svg");
      background-repeat: no-repeat;
      background-position: center;
      outline: none;
      cursor: pointer;
      right: -100px;
      &::after {
        opacity: 0;
      }
      &:hover {
        opacity: 0.7;
      }
      &:active {
        opacity: 0.4;
      }
    }
  }
}

//settings-social
.settings__social.swiper {
  height: 200px !important;
}

.settings__btn.swiper-button-prev {
 display: none;
}

.settings__btn.swiper-button-next { 
  display: none;
}

.settings__social-item.swiper-slide {
  // width: 300px !important;
  height: 116px;
  margin-left: 0 !important;
}

.settings__scrolling.swiper-scrollbar {  
  background-color: $grey;
  cursor: pointer;
}

.settings__scrolling .swiper-scrollbar-drag {
  background-color: $red;
}

.slider__swiper-top {
  display: none;
}

.slider__item  {
  width: 100% !important;
}

.advantegs__column.swiper-vertical {
  touch-action: auto;
}


@media (min-width: 1130px) { 
  .settings__social-item.swiper-slide {
    width: 230px !important;
    height: 116px;
  }

  .settings__social.swiper {
    height: 450px !important;
  }
  
  .settings__btn.swiper-button-prev {
    left: 0;
    display: block;
    top: 30px;
    width: 48px;
    height: 48px;
    &::after {
      opacity: 0;
    }
  }
  
  .settings__btn.swiper-button-next { 
    top: 80px;
    display: block;
    width: 48px;
    height: 48px;
    left: 0;
    &::after {
      opacity: 0;
    }
  }
  
  .settings__scrolling.swiper-scrollbar {
    left: 23px;
    height: 350px !important;
    top: 130px !important;
    background-color: $grey;
    cursor: pointer;
  }
  

  .swiper-slide-thumb-active .slider__line-top {
    background-color: $red;
      &::before {
        width: 20px;
        height: 20px;
        border: 2px solid $red;
        background-color: $red;
      }
  }

  .slider__swiper-top {
    padding-bottom: 20px;
  }

  .slider__swiper-top {
    display: block;
  }
  

}